{% extends 'admin_base.html' %}
{% block main %}
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Pending Superuser Verifications</h5>
        <div class="container-fluid">
            <table class="table table-bordered table-sm" id="example">
                <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Emp_Code</th>
                        <th>Generated_Code</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>JoiningDate</th>
                        <th>Expiry Date</th>
                        <th>Department</th>
                        <th>Designation</th>
                        <th>Tehsil</th>
                        <th>District</th>
                        <th>Coverage</th>
                        <th>Blood Group</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ employee.empcode }}</td>
                        <td>{{ employee.custom_employee_code }}</td>
                        <td>{{ employee.user.first_name }}</td>
                        <td>{{ employee.user.last_name }}</td>
                        <td>{{ employee.user.username }}</td>
                        <td>{{ employee.contact }}</td>
                        <td>{{ employee.joiningdate }}</td>
                        <td>{{ employee.expiry_date }}</td>
                        <td>{{ employee.empdept }}</td>
                        <td>{{ employee.designation }}</td>
                        <td>{{ employee.tehsil }}</td>
                        <td>{{ employee.district }}</td>
                        <td>{{ employee.coverage }}</td>
                        <td>{{ employee.blood_group }}</td>
                        <td>{{ employee.address }}</td>
                        <td>
                            <a href="{% url 'superuser_verify' employee.user.id %}" class="btn btn-success btn-sm">Verify</a>
                            <a href="{% url 'superuser_reject' employee.user.id %}" class="btn btn-danger btn-sm">Reject</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
